@using TrungTamAnhNgu.Models
@{
    List<MadeMistake> mistakes = ViewBag.mistakes;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">

    <!-- Main wrapper  -->
    <div id="main-wrapper">

        @Html.Partial("~/Views/Shared/_Header.cshtml")
        @Html.Partial("~/Views/Shared/_AdminLeftBar.cshtml")
        <!-- Page wrapper  -->
        <div class="page-wrapper">

            <!-- Container fluid  -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Danh sách các vi phạm</h4>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã học viên</th>
                                                <th>Tên học viên</th>
                                                <th>Email</th>
                                                <th>Mã Lớp</th>
                                                <th>Tên lớp</th>
                                                <th>Buổi số</th>
                                                <th>Lỗi</th>
                                                <th>Tiền phạt</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (MadeMistake mistake in mistakes)
                                        {

                                            <tr>
                                                <td>@mistake.StudentUsername</td>
                                                <td>@mistake.Register.Student.Name</td>
                                                <td>@mistake.Register.Student.Email</td>
                                                <td>@mistake.ClassId</td>
                                                <td>@mistake.Register.Class.Name</td>
                                                <td>@mistake.ClassNumber</td>
                                                <td>@mistake.Mistake.Description</td>
                                                <td>@mistake.Mistake.Charge</td>
                                                <td>
                                                    <a href="/Admin/DeleteMistake?username=@mistake.StudentUsername&classId=@mistake.ClassId&classNum=@mistake.ClassNumber&id=@mistake.MistakeId">Xóa</a>
                                                </td>
                                            </tr>

                                    }


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- End Container fluid  -->
        </div>
        <!-- End Page wrapper  -->
        <!-- script -->
        <script src="~/js/lib/jquery/jquery.min.js"></script>
        <script src="~/js/lib/bootstrap/js/popper.min.js"></script>
        <script src="~/js/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <script src="~/js/custom.min.js"></script>



        <script src="~/js/lib/datatables/initTable.js"></script>
        <script src="~/js/lib/datatables/searchData.js"></script>
        <script src="~/js/lib/datatables/sortData.js"></script>
        <link href="~/css/lib/data-table/dataTables.css" rel="stylesheet"/>
    </div>
</body>

</html>

