@using TrungTamAnhNgu.Models
@{
    List<Student> students = ViewBag.students;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">

    <!-- Main wrapper  -->
    <div id="main-wrapper">

        @Html.Partial("~/Views/Shared/_Header.cshtml")
        @Html.Partial("~/Views/Shared/_AdminLeftBar.cshtml")
        <!-- Page wrapper  -->
        <div class="page-wrapper">

            <!-- Container fluid  -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Danh sách các học viên</h4>
                                <h5><a href="/Admin/AddStudent">Thêm học viên</a></h5>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã tên</th>
                                                <th>CMND</th>
                                                <th>Tên</th>
                                                <th>Ngày sinh</th>
                                                <th>Email</th>
                                                <th>SĐT</th>
                                                <th>Trường</th>
                                                <th>Năm</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Student student in students)
                                            {

                                                <tr>
                                                    <td>@student.UserName</td>
                                                    <td>@student.Id</td>
                                                    <td>@student.Name</td>
                                                    <td>@student.DayOfBirth</td>
                                                    <td>@student.Email</td>
                                                    <td>@student.PhoneNumber</td>
                                                    <td>@student.School</td>
                                                    <td>@student.Grade</td>
                                                    <td>
                                                        <a href="/Admin/DeleteStudent?username=@student.UserName">Xóa</a>
                                                        -
                                                        <a href="/Admin/UpdateStudent?username=@student.UserName">Cập nhật</a>
                                                    </td>
                                                </tr>

                                            }


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- End Container fluid  -->
        </div>
        <!-- End Page wrapper  -->
        <!-- script -->
        <script src="~/js/lib/jquery/jquery.min.js"></script>
        <script src="~/js/lib/bootstrap/js/popper.min.js"></script>
        <script src="~/js/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <script src="~/js/custom.min.js"></script>



        <script src="~/js/lib/datatables/datatables.min.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
        <script src="~/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="~/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="~/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
        <script src="~/js/lib/datatables/datatables-init.js"></script>
    </div>
</body>

</html>

