@using TrungTamAnhNgu.Models
@{
    Student student = ViewBag.student;
    string dayOfBirth = ((DateTime)student.DayOfBirth).ToString("yyyy-MM-dd");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">


    <div id="main-wrapper">
        @Html.Partial("~/Views/Shared/_Header.cshtml")
        @Html.Partial("~/Views/Shared/_AdminLeftBar.cshtml")

        <div class="page-wrapper">

            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" id="formAddUser" action="/Admin/UpdateStudentHandler" onsubmit="return validate()" method="post">

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Username <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="username" value="@student.UserName" readonly>
                                            </div>
                                            <br>
                                            <div class="text-danger" id="usernameWarning"> </div>
                                        </div>

                                       
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Tên <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="name" value="@student.Name">
                                            </div>
                                            <br>
                                            <div class="text-danger" id="nameWarning"> </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Số cmnd <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="id" value="@student.Id">
                                            </div>
                                            <br>
                                            <div class="text-danger" id="idWarning"> </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Ngày sinh <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="date" class="form-control" name="dayOfBirth" value="@dayOfBirth">
                                            </div>
                                            <br>
                                            <div class="text-danger" id="dateOfBirthWarning"> </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Nam</label>
                                            <div class="col-lg-6">
                                                @if ((Boolean)student.Gender)
            {
                                    <input type="checkbox" class="form-control" name="gender" value="1" checked>
}
else
{
                                    <input type="checkbox" class="form-control" name="gender" value="1">
}
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Email <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="email" value="@student.Email">
                                            </div>
                                            <br>
                                            <div class="text-danger" id="emailWarning"> </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Số điện thoại <span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="phone" value="@student.PhoneNumber">
                                            </div>
                                            <br>
                                            <div class="text-danger" id="phoneWarning"> </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Trường</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="school" value="@student.School">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Năm thứ </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="grade" value="@student.Grade">
                                            </div>
                                            <br>
                                            <div class="text-danger" id="gradeWarning"> </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Thay đổi</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
        </div>

    </div>


    <!-- script -->
    <script src="~/js/lib/jquery/jquery.min.js"></script>
    <script src="~/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/sidebarmenu.js"></script>
    <script src="~/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/js/custom.min.js"></script>


    <script src="~/js/lib/form-validation/User.validate.js"></script>

</body>

</html>


