@using TrungTamAnhNgu.Models
@{
    List<Lesson> lessons = ViewBag.lessons;
    List<Request> requests = ViewBag.requests;
    Class c = ViewBag.c;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">

    <!-- Main wrapper  -->
    <div id="main-wrapper">

        @Html.Partial("~/Views/Shared/_Header.cshtml")

        <!-- Page wrapper  -->
        <div class="page-wrapper" style="margin-left:0px">

            <!-- Container fluid  -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Các tin nhắn của học viên lớp @c.Name - @c.Id </h4>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table">
                                        <thead>
                                            <tr>
                                                <th>Mã học viên  </th>
                                                <th>Tên</th>
                                                <th>Ngày gửi</th>
                                                <th>Nội dung</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(Request request in requests)
                                            {
                                                if (@request.Day.Value.AddDays(3) >= DateTime.Now)
                                                {
                                                    <tr >
                                                        <td class="color-danger">@request.StudentUsername</td>
                                                        <td class="color-danger">@request.Register.Student.Name</td>
                                                        <td class="color-danger">@request.Day</td>
                                                        <td class="color-danger">@request.Content</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>@request.StudentUsername</td>
                                                        <td>@request.Register.Student.Name</td>
                                                        <td>@request.Day</td>
                                                        <td>@request.Content</td>
                                                    </tr>
                                                }
                                                
                                            }


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Danh sách các buổi học của lớp @c.Name - @c.Id </h4>
                                <a href="/Teacher/AddLesson?classId=@c.Id">Thêm buổi học</a>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Buổi số </th>
                                                <th>Ngày học</th>
                                                <th>Địa điểm</th>
                                                <th>Nội dung</th>
                                                <th>Bài về nhà</th>
                                                <th>Hạn nộp</th>
                                                <th>Tài liệu</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Lesson lesson in lessons)
                                {

                                    <tr>
                                        <td>@lesson.ClassNumber</td>
                                        <td>@lesson.Day</td>
                                        <td>@lesson.Location</td>
                                        <td>@lesson.LessionContent</td>
                                        <td>
                                            @if (lesson.HomeworkQuestion != null)
                                {
                                    <a target="_blank" href="/Download?file=@lesson.HomeworkQuestion">download</a>
                    }
                    else
                    {
                        <span>Chưa có </span>
        }
                                        </td>

                                        <td>@lesson.DeadLine</td>
                                        <td>
                                            @if (lesson.SupportMaterial != null)
                                {
                                    <a target="_blank" href="/Download?file=@lesson.SupportMaterial">download </a>
                    }
                    else
                    {
                        <span>Chưa có </span>
        }
                                        </td>
                                        <td>
                                            <a href="/Teacher/UpdateLesson?classId=@lesson.ClassId.Trim()&classNumber=@lesson.ClassNumber">Thay đổi</a>
                                            -
                                            <a href="/Teacher/DeleteLesson?classId=@lesson.ClassId.Trim()&classNumber=@lesson.ClassNumber">Xóa</a>
                                            -
                                            <a href="/Teacher/ViewHomework?classId=@lesson.ClassId.Trim()&classNumber=@lesson.ClassNumber">Xem bài làm</a>
                                            -
                                            <a href="/Teacher/ViewMistake?classId=@lesson.ClassId.Trim()&classNumber=@lesson.ClassNumber">Xem các lỗi</a>

                                        </td>
                                    </tr>

                    }


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- End Container fluid  -->
        </div>
        <!-- End Page wrapper  -->
        <!-- script -->
        <script src="~/js/lib/jquery/jquery.min.js"></script>
        <script src="~/js/lib/bootstrap/js/popper.min.js"></script>
        <script src="~/js/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <script src="~/js/custom.min.js"></script>



        <script src="~/js/lib/datatables/datatables.min.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
        <script src="~/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="~/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="~/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
        <script src="~/js/lib/datatables/datatables-init.js"></script>
    </div>
</body>

</html>



