@using TrungTamAnhNgu.Models
@{
    Register register = ViewBag.register;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">

    <!-- Main wrapper  -->
    <div id="main-wrapper">

        @Html.Partial("~/Views/Shared/_Header.cshtml")

        <!-- Page wrapper  -->
        <div class="page-wrapper" style="margin-left:0px">

            <!-- Container fluid  -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Danh sách các buổi học của lớp @register.Class.Id -@register.Class.Name</h4>
                                <h4><a href="/Student/ViewMadeMistake?classId=@register.ClassId">Xem các lỗi của bạn</a></h4>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Buổi số </th>
                                                <th>Ngày học</th>
                                                <th>Địa điểm</th>
                                                <th>Nội dung</th>
                                                <th>Bài về nhà</th>
                                                <th>Tài liệu</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Lesson lesson in register.Class.Lessons)
                                        {

                                            <tr>
                                                <td>@lesson.ClassNumber</td>
                                                <td>@lesson.Day</td>
                                                <td>@lesson.Location</td>
                                                <td>@lesson.LessionContent</td>
                                                <td>
                                                    @if (lesson.HomeworkQuestion != null)
                                                {
                                                    <a target="_blank" href="/Download?file=@lesson.HomeworkQuestion">download</a>
                                            }
                                            else
                                            {
                                                <span>Chưa có </span>
                                        }
                                                </td>
                                                <td>
                                                    @if (lesson.SupportMaterial != null)
                                                {
                                                    <a target="_blank" href="/Download?file=@lesson.SupportMaterial">download </a>
                                            }
                                            else
                                            {
                                                <span>Chưa có </span>
                                        }
                                                </td>
                                                <td>
                                                    @if (DateTime.Now <= lesson.DeadLine)
                                                {
                                                    <a href="/Student/SubmitHomework?classId=@register.ClassId&classNumber=@lesson.ClassNumber">Nộp bài</a>
                                            }
                                            else
                                            {
                                                <a href="/Student/ViewScore?classId=@register.ClassId&classNumber=@lesson.ClassNumber">Xem điểm</a>
                                        }

                                                </td>
                                            </tr>

                                    }


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- End Container fluid  -->
        </div>
        <!-- End Page wrapper  -->
        <!-- script -->
        <script src="~/js/lib/jquery/jquery.min.js"></script>
        <script src="~/js/lib/bootstrap/js/popper.min.js"></script>
        <script src="~/js/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <script src="~/js/custom.min.js"></script>



        <script src="~/js/lib/datatables/initTable.js"></script>
        <script src="~/js/lib/datatables/searchData.js"></script>
        <script src="~/js/lib/datatables/sortData.js"></script>
        <link href="~/css/lib/data-table/dataTables.css" rel="stylesheet"/>
    </div>
</body>

</html>




