@using TrungTamAnhNgu.Models
@{
    List<Homework> homeworks = ViewBag.homeworks;
    Lesson lesson = ViewBag.lesson;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">

    <!-- Main wrapper  -->
    <div id="main-wrapper">

        @Html.Partial("~/Views/Shared/_Header.cshtml")

        <!-- Page wrapper  -->
        <div class="page-wrapper" style="margin-left:0px">

            <!-- Container fluid  -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Danh sách các bài về nhà của lớp @lesson.ClassId -@lesson.Class.Name,buổi số @lesson.ClassNumber</h4>

                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã học viên </th>
                                                <th>Tên</th>
                                                <th>Email</th>
                                                <th>Bài làm</th>
                                                <th>Điểm</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Homework homework in homeworks)
                                            {

                                                <tr>
                                                    <td>@homework.StudentUsername</td>
                                                    <td>@homework.Register.Student.Name</td>
                                                    <td>@homework.Register.Student.Email</td>
                                                    <td>
                                                        @if (homework.HomeworkContent != null)
                                                        {
                                                            <a target="_blank" href="/Download?file=@homework.HomeworkContent">download</a>
                                                        }
                                                        else
                                                        {
                                                            <span>Chưa nộp bài</span>
                                                        }
                                                    </td>
                                                    <td>@homework.Score</td>
                                                    
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- End Container fluid  -->
        </div>
        <!-- End Page wrapper  -->
        <!-- script -->
        <script src="~/js/lib/jquery/jquery.min.js"></script>
        <script src="~/js/lib/bootstrap/js/popper.min.js"></script>
        <script src="~/js/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <script src="~/js/custom.min.js"></script>



        <script src="~/js/lib/datatables/datatables.min.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
        <script src="~/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="~/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="~/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="~/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
        <script src="~/js/lib/datatables/datatables-init.js"></script>
    </div>
</body>

</html>





